<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <div class="navbar-header" style=" background-image: linear-gradient(to right, #005230, #000000); ">
          <a class="navbar-brand" href="#/dashboard">
              <!--End Logo icon -->
              <!-- Logo text --><span>
                  <!-- dark Logo text -->
                  <!-- Light Logo text -->
                  <h3 style="color: aliceblue;">SOCIAL SOCCER</h3></span> </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto">
              <!-- This is  -->
              <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
              <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
              <li class="nav-item hidden-sm-down"></li>
          </ul>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <ul class="navbar-nav my-lg-0">

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img [src]="usuario.img | imagen" alt="user" class="profile-pic" /></a>
                  <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
                      <ul class="dropdown-user">
                          <li>
                              <div class="dw-user-box">
                                  <div class="u-img"><img [src]="usuario.img | imagen" alt="user"></div>
                                  <div class="u-text">
                                      <h4>{{usuario.nombre}}</h4>
                                      <p class="text-muted">{{usuario.email}}</p><a [routerLink]="['/dashboard/perfil']" routerLinkActive="router-link-active"  class="btn btn-rounded btn-danger btn-sm">Ver Perfil</a></div>
                              </div>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li role="separator" class="divider"></li>
                                  <li><a href="#"><i class="fa fa-power-off" (click)="cerrarSesion()"></i> Cerrar Sesión</a></li>
                      </ul>
                  </div>
              </li>
          </ul>
      </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
