<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" style="cursor: pointer;" href="/pages/home">Social Soccer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/auth/register" routerLinkActive="active">Registro</a>
          </li>
        </ng-container>
        <ng-template #loggedIn>
      <!--     <li class="nav-item active">
            <a class="nav-link" routerLink="/pages/admin" routerLinkActive="active">Admin</a>
          </li> -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="/pages/vocal" routerLinkActive="active">Vocal</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/pages/vocalResult" routerLinkActive="active">Resultado Vocal</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/pages/team" routerLinkActive="active">Formulario Equipos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn nav-outline" style="cursor: pointer;" (click)="logout()">Cerrar Sessión</a>
          </li>
   <li *ngIf="usserLogged">
    {{usserLogged.name}}
   </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
